@font-face {
    font-family: "Myriad Pro";
    src: url('fonts/MYRIADPRO-REGULAR.OTF');
}

* {
    font-family: "Myriad Pro";
}

/* ------------------------ Все для шапки --------------------------*/
.header{
    background-color: rgba(45, 112, 83, 1);
    width: 750px;
    height: 235px;

    margin:auto;

    /* делаем так, чтобы дочерние объекты:
    - не изменяли размер родителя
    - распологались в ряд 
    - выравнивались по центру*/
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.header-text{
    color: rgba(255, 255, 255,1);
    font-size: 30px;
    width: 134px;

    margin-left: 58px;
}

.header-circle {
    width: 142px; 
    height: 142px;
    background: rgba(255, 255, 255,1);
    border-radius: 50%;

    margin-left: 37px;
}

.header-lines{
    margin-left: 250px;
}

.header-line{
    width: 84px; 
    height: 12px;
    background: rgba(255, 255, 255,1);
    border-radius: 5px;
}

#nextLine{   
    margin-top: 15px
}

/* ------------------------ Призыв купить в первый раз --------------------------*/
.buy1{
    background-image: url(./img/HTML-HW3_Room.png);
    background-size: cover;
    width: 750px; 
    height: 466px;

    margin:auto;

    /*Размещение объектов внутри*/
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    padding-top: 344px;
}

/* ------------------------ Кнопка --------------------------*/
.button{
    width: 342px;
    height: 75px;
    background: rgba(203, 146, 35, 1);

    /*Текст внутри*/
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255,1);
    text-transform: uppercase;
    font-size: 24px;  
}

/* ------------------------ Заглавие описания --------------------------*/
.info {
    width: 750px;
    margin: auto;
}

.info-title {
    width: 750px;
    height: 370px;

    margin: auto;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 44px;
    padding-top: 15px;
}

.info-title img{
    width: 250px;
    height: 250px;
    margin-right: 66px;    
}

.info-title span{
    width: 245px;
    white-space: nowrap;
}

.title-h1{
    font-size: 36px;
}

.title-h2{
    font-size: 24px;}

/* ------------------------ Само текстовое описание --------------------------*/
.info{
}
.info-body {
    white-space:pre-wrap;
    font-size: 24px;
}

ul{
    list-style:none;
    padding-bottom: 0px;
    line-height: 1.3;
    font-size: 24px;
    margin-block-end: 0;
}

li:before{
    content: "-";
    margin-right: 5px;
    margin-bottom: 0px;
}

/* ------------------------ Призыв купить во второй раз --------------------------*/
.buy2{
    width: 750px; 
    height: 165px;

    margin:auto;

    /*размещение кнопки*/
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------ Все для подвала --------------------------*/
.footer{
    width: 750px;
    height: 154px;
    background-color: rgba(136, 136, 136, 1);

    margin:auto;

    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    color: rgba(255, 255, 255,1);
    font-size: 18px;

    padding-bottom: 28px;
}

.footer-circle {
    width: 99px; 
    height: 99px;
    background: rgba(255, 255, 255,1);
    border-radius: 50%;

    margin-left: 44px;
}

.footer-adress {
    margin-left: 184px;
}
.footer-contacts {
    margin-left: 38px;
    height: 65px;
}

.footer-contacts-phone{}
.footer-contacts-mail{
    margin-top: 19px;   
}
